@font-face {
    font-family: 'Identa-BlackItalic';
    src: url('../Fonts/Identa-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Identa-DarkGray';
    src: url('../Fonts/Identa-DarkGray.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Identa-Gray';
    src: url('../Fonts/Identa-Gray.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Identa-GrayItalic';
    src: url('../Fonts/Identa-GrayItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Identa-SemiBlack';
    src: url('../Fonts/Identa-SemiBlack.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../Fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratAlternates-Bold';
    src: url('../Fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratAlternates-ExtraBold';
    src: url('../Fonts/MontserratAlternates-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

:root {
    /* Paleta de Colores */
    --azul-oscuro: #002b70;
    --azul-marino: #002d6a;
    --celeste-pastel: #7fb1d8;
    --cian: #27a7c4;
    --blanco: #ffffff;
    --gris-texto: #6d6d6d;

    /* Familias Tipográficas - Montserrat */
    --font-black: 'Montserrat-Black', sans-serif;
    --font-alt-bold: 'MontserratAlternates-Bold', sans-serif;
    --font-alt-extrabold: 'MontserratAlternates-ExtraBold', sans-serif;

    /* Familias Tipográficas - Identa */
    --font-identa-blackitalic: 'Identa-BlackItalic', sans-serif;
    --font-identa-darkgray: 'Identa-DarkGray', sans-serif;
    --font-identa-gray: 'Identa-Gray', sans-serif;
    --font-identa-grayitalic: 'Identa-GrayItalic', sans-serif;
    --font-identa-semiblack: 'Identa-SemiBlack', sans-serif;
}